.logo{
  height: 77px;
  margin-top: 10px;
  padding-bottom: 10px;
}



strong{
  font-weight: 500;
}

.my-content{
  padding: 50px 0 170px 0;
}

.my-content .mydescripcion{
  margin: 20px 0 10px 0;
}

.my-content .mydescripcion p{
  opacity: 0.8;
}

.wrap {
  margin: auto;
  max-width: 600px;
  width:80%;
  height:400px;
  overflow-y:scroll
}

.tareas .lista {
	list-style: none;
}

.tareas .lista li {
	border-bottom: 4px solid #B6B6B6;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}



* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
li {
  background-color: white;

}

.dato{
  text-align:center;
  font-weight:bold;
  font-size:2em;
}

.tareas{
  padding-top: 60px;
}

.infoMensaje{
  padding-top: 100px;
}

.tareas::-webkit-scrollbar {
	width: 7px;
  background: #000;
}

.tareas::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}
